
importFrom(rlang, expr)
importFrom(pbapply, pboptions)
importFrom(pbapply, pbapply)
importFrom(dplyr, filter)
importFrom(dplyr, select)
importFrom(dplyr, group_by)
importFrom(dplyr, summarise)
importFrom(dplyr, summarize)
importFrom(dplyr, mutate)
importFrom(arm, logit)
importFrom(arm, invlogit)
importFrom(stats, dbinom)
importFrom(stats, dpois)
importFrom(stats, dmultinom)
importFrom(stats, rnorm)
importFrom(stats, runif)
importFrom(stats, optim)
import(ggplot2)
importFrom(grDevices, colorRampPalette)
importFrom(DescTools, MixColor)
importFrom(ggpubr, ggarrange)
importFrom(patchwork, plot_annotation)

export(SEIRfansy)
export(SEIRfansy.predict)
S3method(plot, SEIRfansy)
S3method(plot, SEIRfansyPredict)
